<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />

    <script src="//static.filestackapi.com/filestack-js/2.x.x/filestack.min.js"></script>

</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar"/>

<form th:action="@{/create/startup}" th:method="POST" th:object="${startup}">

    <label for="name">Startup Name </label>
    <input id="name" th:field="*{name}"/>
    <label for="description">Tell us about your business!</label>
    <input id="description" th:field="*{description}"/>
    <label for="address">Where are you located?</label>
    <input id="address" th:field="*{address}"/>

    <input id="picture" type="button" class="btn btn-block btn-primary" name="picture" value="Upload Profile Picture"/>
    <input id="profilePicture" th:field="*{profile_img}" type="text" style="visibility: hidden"/>

    <!--<label for="profilePicture">Profile Picture</label>-->
    <!--<input id="profilePicture" th:field="*{profile_img}"/>-->


    <input id="picture2" type="button" class="btn btn-block btn-primary" name="picture2" value="Upload Cover Picture"/>
    <input id="coverPicture" th:field="*{cover_img}" type="text" style="visibility: hidden"/>

    <button>Create my Profile</button>

</form>

<script>
    document.getElementById("picture").addEventListener("click", function () {
        var client = filestack.init('AEWKiu5qYTtif6jqXiYivz');
        client.picker({
            onFileUploadFinished: function(response){
                this.value ="https://cdn.filestackcontent.com/" + (response.handle);
                document.getElementById("profilePicture").value = this.value
            }
        }).open();
    })

    document.getElementById("picture2").addEventListener("click", function () {
        var client = filestack.init('AEWKiu5qYTtif6jqXiYivz');
        client.picker({
            onFileUploadFinished: function(response){
                this.value ="https://cdn.filestackcontent.com/" + (response.handle);
                document.getElementById("coverPicture").value = this.value
            }
        }).open();
    })

</script>

</body>
</html>