<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- bootstrap, meta, and google fonts -->
    <th:block th:replace="fragments/head :: header" />



    <link rel="stylesheet" type="text/css" href="/css/form.css" />
</head>
<body>


<div id="center">

    <div class="card text-center">
        <div id="header" class="card-header">
            EDIT USER PROFILE
        </div>
        <div class="card-body">
            <h5 class="card-title">WELCOME TO GrowTech-SA</h5>
            <div class="card-text">


                <!--<form th:action="@{/login}" method="post">-->
                <!--<div class="form-group mx-auto">-->
                <!--<label for="username">Username</label>-->
                <!--<input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username"/>-->
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your Username with anyone else.</small>-->
                <!--</div>-->

                <!--<div class="form-group mx-auto">-->
                <!--<label for="password">Password</label>-->
                <!--<input type="password" class="form-control" id="password" placeholder="Password"/>-->
                <!--</div>-->


                <!--<button id="butt" type="submit" class="btn btn-primary">Submit</button>-->
                <!--</form>-->


                <form th:action="@{/edit}" method="post" th:object="${user}">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="firstName">FIRS NAME</label>
                            <input type="text" class="form-control" id="firstName" placeholder="FIRS NAME" th:field="*{first_name}"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="lastName">LAST NAME</label>
                            <input type="text" class="form-control" id="lastName" placeholder="LAST NAME" th:field="*{last_name}"/>
                        </div>

                    </div>


                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="email">EMAIL ADDRESS</label>
                            <input type="text" class="form-control" id="email" placeholder="EMAIL ADDRESS" th:field="*{email}"/>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="username">USER NAME</label>
                            <input type="text" class="form-control" id="username" placeholder="USER NAME" th:field="*{username}"/>
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label for="password">PASSWORD</label>
                            <input type="password" class="form-control" id="password" placeholder="PASSWORD" th:field="*{password}"/>
                        </div>

                    </div>










                    <!---->
                    <!--<div class="form-group">-->
                    <!--<label for="inputAddress">Address</label>-->
                    <!--<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<label for="inputAddress2">Address 2</label>-->
                    <!--<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
                    <!--</div>-->
                    <!--<div class="form-row">-->
                    <!--<div class="form-group col-md-6">-->
                    <!--<label for="inputCity">City</label>-->
                    <!--<input type="text" class="form-control" id="inputCity">-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-4">-->
                    <!--<label for="inputState">State</label>-->
                    <!--<select id="inputState" class="form-control">-->
                    <!--<option selected>Choose...</option>-->
                    <!--<option>...</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--<div class="form-group col-md-2">-->
                    <!--<label for="inputZip">Zip</label>-->
                    <!--<input type="text" class="form-control" id="inputZip">-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                    <!--<div class="form-check">-->
                    <!--<input class="form-check-input" type="checkbox" id="gridCheck">-->
                    <!--<label class="form-check-label" for="gridCheck">-->
                    <!--Check me out-->
                    <!--</label>-->
                    <!--</div>-->
                    <!--</div>-->
                    <button type="submit" class="btn btn-primary">UPDATE PROFILE</button>
                </form>


            </div>
        </div>
        <div class="card-footer text-muted" id="header">

            <!--<div class="red" th:if="${param.error}">-->
            <!--Invalid Username and Password.-->
            <!--</div>-->
            <!--<div class="red" th:if="${param.logout}">-->
            <!--You have been logged out.-->
            <!--</div>-->

        </div>
    </div>
</div>















<th:block th:replace="fragments/head :: scripts" />





</body>
</html>










































<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
    <!--<head>-->
        <!--&lt;!&ndash; title &ndash;&gt;-->
        <!--<title>Log In</title>-->

        <!--&lt;!&ndash; bootstrap, meta, and google fonts &ndash;&gt;-->
        <!--<th:block th:replace="fragments/head :: header" />-->


    <!--</head>-->
    <!--<body>-->

        <!--<th:block th:replace="fragments/navbar :: navbar" />-->

        <!--<h1>Edit Profile</h1>-->

        <!--<form th:action="@{/edit}" method="post" th:object="${user}">-->
            <!--<label for="firstName">First Name: </label>-->
            <!--<input id="firstName" th:field="*{first_name}" type="text" />-->
            <!--<label for="lastName">Last Name</label>-->
            <!--<input id="lastName" th:field="*{last_name}" type="text" />-->
            <!--<label for="email">First Name: </label>-->
            <!--<input id="email" th:field="*{email}" type="text" />-->
            <!--<label for="username">Username</label>-->
            <!--<input id="username" th:field="*{username}" type="text" />-->
            <!--<label for="password">Password</label>-->
            <!--<input id="password" th:field="*{password}" type="password" />-->
            <!--<input type="submit" value="Update Profile" />-->
        <!--</form>-->

        <!--<th:block th:replace="fragments/head :: scripts" />-->

    <!--</body>-->
<!--</html>-->