<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- title -->
    <title>Login</title>

    <!-- bootstrap, meta, and google fonts -->
    <th:block th:replace="fragments/head :: header" />


    <!-- css links -->
    <th:block th:replace="fragments/navbar :: navbarCss" />

    <link rel="stylesheet" type="text/css" href="/css/signup.css" />

    <link rel="stylesheet" type="text/css" href="/css/form.css" />
</head>
<body>

<!-- navbar -->
<th:block th:replace="fragments/navbar :: navbar"/>

<div id="center">

                <div class="card text-center shadow-lg mb-5 rounded">
                    <div id="header" class="card-header">
                        LOG IN
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Welcome To GrowTech-SA</h5>
                        <div class="card-text">


                            <form th:action="@{/login}" method="post">
                                <div class="form-group mx-auto">
                                    <label for="username">Username</label>
                                    <input name="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username"/>
                                    <small id="emailHelp" class="form-text text-muted">New User? <a th:href="@{/sign-up}">Click here to sign up!</a></small>
                                </div>

                                <div class="form-group mx-auto">
                                    <label for="password">Password</label>
                                    <input name="password" type="password" class="form-control" id="password" placeholder="Password"/>
                                </div>


                                <button id="butt" type="submit" class="btn btn-primary">LOG IN</button>
                            </form>


                        </div>
                    </div>
                    <div class="card-footer text-muted" id="header">

                        <div class="red" th:if="${param.error}">
                            Invalid Username and Password.
                        </div>
                        <div class="red" th:if="${param.logout}">
                            You have been logged out.
                        </div>
                    </div>
                </div>
            </div>


            <th:block th:replace="fragments/head :: scripts" />
</body>
</html>

















<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
    <!--<head>-->
        <!--&lt;!&ndash; title &ndash;&gt;-->
        <!--<title>Log In</title>-->

        <!--&lt;!&ndash; bootstrap, meta, and google fonts &ndash;&gt;-->
        <!--<th:block th:replace="fragments/head :: header" />-->

        <!--<link rel="stylesheet" type="text/css" href="/css/login.css" />-->

    <!--</head>-->
    <!--<body>-->

        <!--<th:block th:replace="fragments/navbar :: login" />-->


        <!--<div id="loginCon" class="container">-->
            <!--<div class="row">-->
                <!--<div class="mx-auto">-->
                    <!--<h1>Log In</h1>-->
                    <!--<div th:if="${param.error}">-->
                        <!--Invalid Username and Password.-->
                    <!--</div>-->
                    <!--<div th:if="${param.logout}">-->
                        <!--You have been logged out.-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<form th:action="@{/login}" method="post">-->
                <!--<div class="form-row">-->
                    <!--<div class="mx-auto">-->
                        <!--<label for="username">Username</label><br/>-->
                        <!--<input class="form-control" id="username" name="username" type="text" />-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-row">-->
                    <!--<div class="mx-auto">-->
                        <!--<label for="password">Password</label><br/>-->
                        <!--<input class="form-control" id="password" name="password" type="password" />-->
                    <!--</div>-->
                <!--</div><br/>-->
                <!--<div class="form-row">-->
                    <!--<div class="mx-auto">-->
                        <!--<input class="btn btn-primary" type="submit" value="Log In" />-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->

        <!--<th:block th:replace="fragments/head :: scripts" />-->

    <!--</body>-->
<!--</html>-->