<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form th:action="@{/register}" th:method="POST" th:object="${user}">

    <label for="firstName">First Name</label>
    <input id="firstName" th:field="*{first_name}"/>
    <label for="lastName">Last Name</label>
    <input id="lastName" th:field="*{last_name}"/>
    <label for="email">email</label>
    <input id="email" th:field="*{email}"/>
    <label for="username">Username</label>
    <input id="username" th:field="*{user_name}"/>
    <label for="password">Password</label>
    <input id="password" th:field="*{password}"/>

    <button>Register</button>


</form>

</body>
</html>