/* navbar */
#navbar {
    padding: 0;
    background-color: transparent;
    z-index: 1;
}

#navbar .navbar-brand {
    width: 50%;
    margin-left: -16rem;
    padding-left: 17rem;
    padding-top: -1rem;
    font-size: 2em;
    color: #647E9F;
    border-bottom: .1rem solid #647E9F;
}

#navbar a{
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1em;
    color: #647E9F;
}

#navbar .navbar-toggler {
    background-color: #818B95;
}

#navbar .nav-item {
    /*border-bottom: .1rem solid black;*/
    /*width: 5.5rem;*/
    margin-left: 1rem;
}

#navbar .nav-item:hover {
    border-bottom: .1rem solid white;
    width: 5.5rem;
}

#alljobCon1 {
    margin-top: 1rem;
    background-image: url(/img/san4.png);
    background-size: 65% 70%;
    background-position: 95% 36%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#alljobCon1 img {
    height: 100%;
    width: 80%;
}