body {
    background-image: url("/img/new.png");
    background-repeat: no-repeat;
}

/* navbar */
#navbar {
    padding: 0;
    background-color: transparent;
    z-index: 1;
}

#navbar .navbar-brand {
    width: 50%;
    margin-left: -16rem;
    padding-left: 17rem;
    padding-top: -1rem;
    font-size: 2em;
    color: white;
    border-bottom: .1rem solid white;
}

#navbar a{
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1em;
    color: #647E9F;
}

#navbar .navbar-toggler {
    background-color: #818B95;
}

#navbar .nav-item {
    /*border-bottom: .1rem solid black;*/
    /*width: 5.5rem;*/
    margin-left: 1rem;
}

#navbar .nav-item:hover {
    border-bottom: .1rem solid white;
    width: 5.5rem;
}

div#allCon {
    width: 90%;
    margin-right: 1rem;
}

#allCon img {
    margin-left: -15px;
    max-height: 10rem;
}

#allCon p {
    width: 260%;
}

#left {
    background-color: transparent;
}

#right {
    background-color: transparent;
}

#left {
    position: fixed;
    top: 5rem;
    left: 3.7rem;
    bottom: 0;
    
}

#company {
    margin-left: -3rem;
}

#cover {
    max-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


/*
992px comes from the bootstrap grid sizes for 'lg'

https://v4-alpha.getbootstrap.com/layout/grid/#grid-options
*/
@media (min-width: 992px){
    #left {
        position: fixed;
        top: 5rem;
        bottom: 0;
    }
}