body {
    background-image: url("/img/formback.png");   
}

h2{
    font-family: 'Carrois Gothic', sans-serif;
    margin-top: 1rem;
    font-weight: bold;
}

img {
    max-width: 70%;
}

div#rowjob {
    min-width: 100%;
}

p{
    font-family: 'Carrois Gothic', sans-serif;
}

.card {
    margin: 1rem;
}

.card-header {
    background-color: #f0f2f9;
}

#con1 {
    background-color: white;
    border-radius: .2rem;
}

#con2{
    background-color: white;
    border-radius: .2rem;
}