.show {
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name:  show;
}

.show2 {
    animation-duration: 2s;
    animation-delay: 3s;
    animation:  show;
}

@keyframes show {
    0% {opacity: 0}
    100% {opacity: 1}
}
