.left {
    animation: left;
    animation-fill-mode: forwards;
    animation-name: left;
    animation-duration: 3s;
}

@keyframes left {
    0% {opacity: 0}
    100% {opacity: 1}
}

.right {
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-name: right;
}

@keyframes right {
    0% {opacity: 0}
    100% {opacity: 1}
}