body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-image: url("/img/new.png");
    background-repeat: no-repeat;
}

#createStartCon1 {
    background-color: #647e9f;
    padding: 5rem;
    border-radius: .5rem;
}

#createStartCon1 form{
    background-color: lightblue;
    border-radius: .5rem;
    height: 27rem;
    padding-top: 1rem;
}

#description {
    resize: none;
    height: 10rem;
}


@media (max-width: 575.98px) {

    #createStartCon1 form {
        height: 35rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #navbar a{
        color: white;
    }


}

@media (min-width: 576px) and (max-width: 767.98px) {

    #createStartCon1 form {
        height: 35rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #navbar a{
        color: white;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {

    #createStartCon1 form{
        height: 29rem;
        padding-top: 1rem;
    }

}

#modal {
    background-color: #647E9F;
    /*border-radius: .5rem;*/
    color: white;
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}