body{
    background-image: url("/img/formback.png");
}

#center{
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
}

#header{
    background-color: #f0f2f9;
}
#butt{
    background-color: #06baf8;
}
.red{
    color: #c50009;
}

.uploadbutt{
    background-color: rgba(239, 106, 40, 0.73);
    color: white;
}

