html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: white;
}

p {
    font-family: 'Carrois Gothic', sans-serif;
    margin-top: -7px;
    margin-bottom: 1rem;
    font-size: 115%;
}

h2 {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Carrois Gothic', sans-serif;
}

img {
    height: 8rem;
}

.hidden {
    visibility: hidden;
}

/* container-1 */
#container1 {
    height: 28rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-image: url(/img/san-antonio.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:white;
    border-bottom: 1px solid black;
}

#firsttitle {
    margin-top: 15rem;
}

#container1 button {
    margin-top: 1rem;
}

div#element3 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#container2 {
    margin: 0;
    margin-top: 5rem;
    margin-bottom: 7rem;
    padding: 0;
    max-width: 100%;
}

.para1 {
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 1.5em;
    text-align: center;
}

.para2 {
    padding-left: 7rem;
    padding-right: 7rem;
}

#container3{
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: lightgray;
    opacity: .7;
    background-image: url("/img/formback.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container3 p {
    font-size: 1.5rem;
    font-family: 'Carrois Gothic', sans-serif;
}

#smalllogo {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

/* container3 */
#footer {
    margin: 0;
    padding: 0;
    max-width: 100%;
    color:black;
    background-color: white;
    opacity: .7;
    background-image: url("/img/formback.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#footer h5 {
    color: black;
}

#footer hr {
    border-top: 1px solid black;
}


/* footer */
#contact {
    margin-top: 3rem;
    height: 16rem;
}

#contact2 {
    margin-top: 3rem;
    height: 16rem;
}

#contact3 {
    margin-top: 3rem;
    height: 16rem;
}


@media (max-width: 767.98px) {

    div#element3 {
        margin-top: -7rem;
    }

}


