html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: #dddfeb;
    background-image: url("/img/large2.png");
    background-repeat: no-repeat;
    background-size: 56% 99%;
    background-position-x: 102%;
    background-position-y: 142%;
}

p {
    margin-top: -7px;
    margin-bottom: 1rem;
    font-size: 115%;
}

/*

 E5ECEF
818B95
647E9F
776C6F
2A3141
 */

.hidden {
    visibility: hidden;
}

/* navbar */
#navbar {
    padding: 0;
    background-color: transparent;
    z-index: 1;
}

#navbar .navbar-brand {
    width: 50%;
    margin-left: -16rem;
    padding-left: 17rem;
    padding-top: -1rem;
    font-size: 2em;
    color: white;
    border-bottom: .1rem solid white;
}

#navbar a{
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1em;
    color: white;
}

#navbar .navbar-toggler {
    background-color: white;
}

#navbar .nav-item {
    /*border-bottom: .1rem solid black;*/
    /*width: 5.5rem;*/
    margin-left: 1rem;
}

#navbar .nav-item:hover {
    border-bottom: .1rem solid white;
    width: 5.5rem;
}

#navbar button {
    padding: 0;
    color:white;
    background-color: transparent;
}

/* container-1 */
#container1 {
    height: 50rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -10rem;
    background-image: url(/img/san4.png);
    background-size: 65% 70%;
    background-position: 96% 60%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #2A3141;
    color:white;
}

#firsttitle {
    margin-top: 15rem;
}

#container1 button {
    margin-top: 1rem;
}

div#element3 {
    margin-top: 4rem;
}

/* Container-2 */
#container2 {
    height: 95rem;
    background-color: transparent;
    max-width: 100%;
    background-image: url("/img/newblue2.png");
    background-repeat: no-repeat;
    background-size:100% 50%;
}

#container2 h2 {
    margin-top: 3rem;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 3.5em;
}

#container2 h4 {
    margin-top: 3rem;
}

#contact2 p {
    font-size: 1.2em;
}

#container2 hr {
    border-top: 1px solid white;
}

#container2 .col-md-6 {
    background-color: #2A3141;
    color: white;
    height: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 5rem;
    border-radius: .3rem;
}

/* container3 */

#container3 {
    height: 30rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-image: url("../img/san4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50% 32%;
    background-position-y: 35rem;
    background-position-x: 20rem;
    background-color: #2A3141;
    color:white;
}

#container3 .col-md-4 {
    border-right: 1px solid white;
}

#container3 hr {
    border-top: 1px solid #f8f9fa;
}

#container4 {
    height: 29rem;
    margin-top: -13rem;
}

/* footer */
#contact {
    margin-top: 3rem;
    border-bottom: 1px solid white;
    height: 16rem;
}

#contact2 {
    margin-top: 3rem;
    border-bottom: 1px solid white;
    height: 16rem;
}

#contact3 {
    margin-top: 3rem;
    border-bottom: 1px solid white;
    height: 16rem;
}

@media (min-width: 1200px) {
    
}

@media (min-width: 768px) and (max-width: 1199.98px) {

    #navbar .navbar-brand{
        width: 70%;
    }

    #container1 {
        margin-top: -16rem;
        height: 51rem;
    }

    #firsttitle {
        margin-top: 17rem;
    }

    #container2 h2{
        margin-top: 0;
    }

    #container3 {
        background-position-x: 13rem;
    }
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #navbar .navbar-brand{
        width: 88%;
    }

    #container1 {
        margin-top: -16rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #firsttitle {
        margin-top: 19rem;
    }

    #container2 {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #container3 {
        margin-top: 18rem;
        height: 57rem;
        background-position-x: 12rem;
    }

}

@media (max-width: 575.98px) {

    #navbar .navbar-brand{
        width: 88%;
    }

    #container1 {
        margin-top: -17rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #firsttitle {
        margin-top: 19rem;
    }

    #container2 {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #container3 {
        margin-top: 35rem;
        height: 57rem;
        background-position-x: 9rem;
    }

}

@media (max-width: 351px) {

    #navbar .navbar-brand{
        width: 146%;
    }

    #container1 {
        margin-top: -17rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #firsttitle {
        margin-top: 19rem;
    }

    #container2 .col-md-6 {
        height: 26rem;
    }

    #container2 {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #container3 {
        margin-top: 54rem;
        height: 57rem;
        background-position-x: 9rem;
    }

}

