body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(../img/San3.png);
    background-size: 100% 40%;
    background-position: .5rem;
    background-repeat: no-repeat;
}

/*

 E5ECEF
818B95
647E9F
776C6F
2A3141

 */

/* navbar */
#navbar {
    padding: 0;
    background-color: white;
    opacity: .7;
    z-index: 1;
}

#navbar .navbar-brand {
    width: 50%;
    margin-left: -16rem;
    padding-left: 17rem;
    padding-top: -1rem;
    font-size: 2em;
    color: black;
}

#navbar a{
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1em;
    color: black;
}

#navbar .navbar-toggler {
    background-color: #818B95;
}

#navbar .nav-item {
    /*border-bottom: .1rem solid black;*/
    /*width: 5.5rem;*/
    margin-left: 1rem;
}

#navbar .nav-item:hover {
    border-bottom: .1rem solid black;
    width: 5.5rem;
}

/* container-1 */
#container1 {
    height: 58rem;
    margin: 0;
    padding: 0;
    max-width: none;
    margin-top: -10rem;
    background-image: url(/img/san4.png);
    background-size: 65% 70%;
    background-position: 80% 50%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #647E9F;
}

/* Container-2 */
#container2 {
    height: 130rem;
    background-color: white;
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -14rem;
}

#container2 p {
    width: 36rem;
}

#container2 h2 {
    margin-top: 7rem;
    font-family: 'Carrois Gothic', sans-serif;
}

#container2 h4 {
    margin-top: 5rem;
}

#container2 .col-md-6 {
    background-color: #2A3141;
    color: white;
    height: 20rem;
    padding: 10px;
    background-image:
            linear-gradient(to bottom,
            #647e9f 100%,
            #818B95 100%),
            linear-gradient(to bottom,
            #2A3141 100%,
            #E5ECEF 100%);
    background-clip: content-box, padding-box;
    margin-top: 6rem;
}


/* container3 */

#container3 {
    height: 30rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-image: url("../img/San2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 40%;
    background-position-y: 28rem;
    /*background-color: #647E9F;*/
}

#container4 {
    height: 45rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: #818B95;
}

#container5 {
    height: 45rem;
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: white;
}


@media (max-width: 992px) {

    #container1 {
        margin-top: -14rem;
    }

    #navbar .navbar-light .navbar-toggler-icon {
        margin-left: 6rem;
    }

}


