body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#container1 {
    width: 100%;
}

#container1 img {
    width: 20%;
}

#showoneCon1 {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -2rem;
}

#coverImg {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: green;
}

#images {
    margin-top: 2rem;
}

#startupInfo {
    margin-top: 8rem;
}

#profileImg img{
    width: 100%;
    min-height: 15rem;
    max-height: 15rem;
    min-width: 15rem;
    max-width: 15rem;
    margin-top: -23rem;
}



#modal {
    background-color: #647E9F;
    /*border-radius: .5rem;*/
    color: white;
}