body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("/img/formback.png");
}

#container1 {
    background-color: white;
    border-radius: .3rem;
}



#showoneCon1 {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -2rem;
}

#coverImg {
    margin: 0;
    padding: 0;
    max-width: 100%;
    background-color: green;
}

#images {
    margin-top: 2rem;
}

#startupInfo {
    margin-top: 8rem;
}

#profileImg {
    background-color: white;
    border-radius: .3rem;
}

#profileImg img{
    width: 100%;
    min-height: 15rem;
    max-height: 15rem;
    min-width: 15rem;
    max-width: 15rem;
    margin-top: -23rem;
    border-radius: .2rem;
}

#Con3 {
    background-color: white;
    border-radius: .3rem;
}

#img {
    padding: 0;
}

#modal {
    background-color: #647E9F;
    /*border-radius: .5rem;*/
    color: white;
}

#map {
    margin-top: 1rem;
}