body {
    margin: 0;
    padding: 0;
    background-image: url("/img/formback.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

h*{
    font-family: 'PT Sans Narrow', sans-serif;
}

h2{
    font-family: 'PT Sans Narrow', sans-serif;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#con1 {
    background-color: white;
    border-radius: .2rem;
}
