body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* navbar */
#navbar {
    padding: 0;
    background-color: transparent;
    z-index: 1;
}

#navbar .navbar-brand {
    width: 50%;
    margin-left: -16rem;
    padding-left: 17rem;
    padding-top: -1rem;
    font-size: 2em;
    color: #647E9F;
    border-bottom: .1rem solid #647E9F;
}

#navbar a{
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 1em;
    color: #647E9F;
}

#navbar .navbar-toggler {
    background-color: #818B95;
}

#navbar .nav-item {
    /*border-bottom: .1rem solid black;*/
    /*width: 5.5rem;*/
    margin-left: 1rem;
}

#navbar .nav-item:hover {
    border-bottom: .1rem solid white;
    width: 5.5rem;
}

#showoneCon1 {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -2rem;
}

#coverImg {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#coverImg img {
    width: 100%;
    height: 50%;
    max-height: 30rem;
}

#images {
    margin-top: 2rem;
}

#startupInfo {
    margin-top: 8rem;
}

#profileImg img{
    width: 100%;
    margin-top: -23rem;
}

#map {
    margin-top: -14rem;
}