body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.col-md-3.offset-md-3 {
    margin-top: 2rem;
}

.col-md-3 {
    margin-top: 2rem;
}

#formCon1 {
    margin-top: 1rem;
    background-color: #647e9f;
    padding: 5rem;
    border-radius: .5rem;
}

#formCon1 form {
    background-color: lightblue;
    border-radius: .5rem;
    height: 27rem;
}

#modal {
    background-color: #647E9F;
    /*border-radius: .5rem;*/
    color: white;
}

body {
    background-image: url("/img/san4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 575.98px) {

    #navbar .navbar-brand{
        width: 96%;
    }

    #formCon1 form{
        height: 34rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    #formCon1 form{
        height: 34rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}

