body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#left {
    background-color: transparent;
    position: fixed;
    top: 4rem;
    bottom: 0;
}

#right {
    background-color: transparent;
}

@media (max-width: 767.98px) {

    #left {

        position: relative;

    }

    #right {
        margin-top: 5rem;
    }

}
