<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <head>

        <title>Title</title>

        <th:block th:replace="fragments/head :: header" />
        <th:block th:replace="fragments/navbar :: navbarCss" />

        <link rel="stylesheet" type="text/css" href="/css/alljobs.css" />
        <link rel="stylesheet" type="text/css" href="/css/form.css" />

    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar"/><br/>

            <div id="con1" class="container">
                <div class="row">
                    <div class="mx-auto">
                        <h2>All Jobs Available</h2>
                    </div>
                </div>
                <hr style="width: 100%;"/>
                <form class="mx-auto" action="/all/jobs" method="get">
                    <div class="row">
                        <!--<div class="offset-md-3 col-md-4">-->
                            <!--<input name="searchFor" type="search" class="form-control" />-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<input type="submit" value="search" class="form-control uploadbutt" />-->
                        <!--</div>-->


                        <div class="input-group mb-3 col-md-4">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary uploadbutt" type="submit" id="button-addon1">Search</button>
                            </div>
                            <input name="searchFor" type="search" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"/>
                        </div>


                    </div>
                </form>
            </div>

            <div id="con2" class="container">
                <div class="row">
                    <div id="rowjob" class="mx-auto">
                        <div th:each="job : ${jobs}">
                            <div class="card">
                                <div class="card-header">
                                    <a th:href="@{'/showpage/' + ${job.startup.id}}"><h5>Company: <span th:text="${job.startup.name}"></span></h5></a>
                                </div>
                                <div class="card-body">
                                    Title:<h5 class="card-title" th:text="${job.title}"></h5>
                                    Description:<br/>
                                    <p class="card-text" th:text="${job.description}"></p>


                                    <!--<form th:action="@{'/apply/' + ${job.id} }" method="POST">-->
                                        <!--<input type="hidden" th:value="${job.id}" th:name="id"/>-->
                                        <!--<input class="btn btn-primary btn-sm" value="apply" type="submit" />-->
                                    <!--</form>-->

                            </div>
                        </div>
                    </div>
                </div><br/><br/>
            </div>

        <th:block th:replace="fragments/head :: scripts" />
            </div>

    </body>
</html>