<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />
</head>
<body>
<th:block th:replace="fragments/navbar :: navbar"/>

<form th:action="@{/create-job-posting}" th:method="POST" th:object="${job}">

    <label for="title">Job Title</label>
    <input id="title" th:field="*{title}"/>
    <label for="description">Job Responsibilities</label>
    <input id="description" th:field="*{description}"/>

    <button>Create my Profile</button>

</form>

</body>
</html>