<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>CapDesignOne</title>

        <th:block th:replace="fragments/head :: header" />

        <!-- Css Link -->
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/css/animation.css"/>

    </head>
    <body>

        <br/>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" th:href="@{/showpage}">GrowTech-SA</a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">

                        <div sec:authorize="isAnonymous()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <form th:action="@{/logout}" th:method="post">
                                    <button class="border-0"><a class="nav-link">Logout</a></button>
                                </form>
                            </li>
                        </div>
                        <div sec:authorize="isAnonymous()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/sign-up}">Sign Up</a>
                            </li>
                        </div>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/showpage}">Startps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/all/jobs}">Jobs</a>
                        </li>
                        <div sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/create/startup}">Create startup</a>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/submit-resume}">Submit resume</a>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/userProfile}">User Profile</a>
                            </li>
                        </div>
                    </ul>

                </div>
            </div>
        </nav>

        <div id="container1" class="container">
            <div class="row">
                <div id="firsttitle" class="offset-md-1 col-md-4">
                    <h2>Create start up!</h2>
                </div>
            </div>
            <div  class="row">
                <div class="col-md-4 ml-5">
                    <p>
                        Create a startup, start advertising your company and the jobs available.
                        Help grow San Antonio tech!!!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="mx-auto">
                            <a th:href="@{/create/startup}"><button class="btn btn-primary" type="button">Create Startup!</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="margin-top: 5rem;" class="offset-md-1 col-md-4">
                    <h2>Find Available jobs!!</h2>
                </div>
            </div>
            <div  class="row">
                <div class="col-md-4 ml-5">
                    <p>
                        See all job posting, upload your resume and apply for local jobs in San Antonio.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="mx-auto">
                            <a th:href="@{/all/jobs}"><button class="btn btn-primary" type="button">See all Jobs!</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="container2" class="container">
            <div id="element1" class="hidden"><br/><br/><br/><br/>
                <div class="row">
                    <div class="offset-md-1 col-md-3 d-md-none d-lg-none d-xl-none">
                        <h2>Why we are doing it?</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-1">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>San Antonio Tech is growing!!</h4>
                                <hr/>
                                <p>
                                    San Antonio ranks 46th among the top 50 North American markets when
                                    it comes to tech talent, according to a commercial real estate firm’s annual ranking.
                                    The mission at GrowTechSA is to allow local startups have their presence be known to the community,
                                    and connect them with developers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-3 d-sm-none d-none d-md-block d-lg-block d-xl-block">
                        <h2>Why we are doing it?</h2>
                    </div>
                </div>
            </div>
            <div id="element2" class="hidden"><br/><br/><br/>
                <div class="row">
                    <div class="offset-md-1 col-md-3">
                        <h2>Drive Innovation!</h2>
                    </div>
                    <div class="offset-md-1 col-md-6">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>We know startups drive innovation to our economy</h4>
                                <hr/>
                                <p>
                                    which is why supporting the startup community is one of our
                                    primary goals. By connecting potential job seekers to local startup companies will help
                                    boast the success rate of the company and inspire many other to create a start up of their own.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="element3" class="hidden">
                <div class="row">
                    <div class="offset-md-1 col-md-3 d-md-none d-lg-none d-xl-none">
                        <h2>getting started is easy!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-1">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>Just sign up, create or apply!!!</h4>
                                <hr/>
                                <p>
                                    which sign up you'll be able to create your startup company profile and start marketing
                                    job placements available ar your company. If you are a job seeker you can upload your resume and start
                                    looking for potential employers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-3 d-sm-none d-none d-md-block d-lg-block d-xl-block">
                        <h2>getting started is easy!</h2>
                    </div>
                </div>
            </div>
        </div>


        <div id="container3" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="contact">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>creator's Contact</h4>
                                <hr/><br/>
                                <a href="mailto:markasky.josh@gmail.com?"><h5 style="color: white">markasky.josh@gmail.com</h5></a><br/>
                                <a href="mailto:arash.arghavan@gmail.com?"><h5 style="color: white">arash.arghavan@gmail.com</h5></a><br/>
                                <a href="mailto:laroblesaguilar@gmail.com?"><h5 style="color: white">laroblesaguilar@gmail.com</h5></a><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="contact2">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>WebSite Contact</h4>
                                <hr/><br/>
                                <a href="mailto:growingtech.sa@gmail.com?"><h5 style="color: white">growingtech.sa@gmail.com</h5></a><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="contact3">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>About us</h4>
                                <hr/><br/>
                                <a th:href="@{https://alumni.codeup.com/students/624}"><h5 style="color: white">Joshua Markasky</h5></a>
                                <br/>
                                <a th:href="@{https://alumni.codeup.com/students/630}"><h5 style="color: white">Arash Arghavan</h5></a>
                                <br/>
                                <a th:href="@{https://alumni.codeup.com/students/618}"><h5 style="color: white">Luis Robles</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/head :: scripts" />

        <!-- js scripts -->
        <script src="js/index.js"></script>


    </body>
</html>