<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>CapDesignOne</title>

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <!-- Css Link -->
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic|Open+Sans" rel="stylesheet" />

</head>
<body>

<br/>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/showpage}">GrowTech-SA</a>
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="border-0"><a class="nav-link">Logout</a></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Sign Up</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/showpage}">All Startps</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create-job-posting}">Create Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/create/startup}">Create start up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/submit-resume}">submit resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/userProfile}">user Profile</a>
                </li>
            </ul>

        </div>
    </div>
    </nav>

<div id="container1" class="container">
    <div class="row">
        <div style="margin-top: 15rem;" class="col-md-4 ml-3">
            <h2>Create start up!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ml-3">
            <p>
                dh roihgoihgio hgiowh rgoh ogri hgro wihrgio
                rgwhgrwoihrgwoihiorw hrgio hrogihgoriw
            </p>
        </div>
    </div>
    <div class="row">
        <div style="margin-top: 6rem;" class="col-md-4 ml-3">
            <h2>Apply for jobs</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 ml-3">
            <p>
                dh roihgoihgio hgiowh rgoh ogri hgro wihrgio
                rgwhgrwoihrgwoihiorw hrgio hrogihgoriw
            </p>
        </div>
    </div>
</div>

<div id="container2" class="container">
    <div class="row">
        <div class="col-md-5 offset-md-2">
            <h2>Why we are doing it?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="row">
                <div class="mx-auto">
                    <h4>San Antonio Tech is growing!!</h4>
                    <p>
                        San Antonio ranks 46th among the top 50 North American markets when
                        it comes to tech talent, according to a commercial real estate firm’s annual ranking.
                        The mission at GrowTechSA is to allow local startups have their presence be known to the community,
                        and connect them with developers.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-6">
            <h2>something else</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-5">
            <div class="row">
                <div class="mx-auto">
                    <h4>random fact 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        alias amet esse excepturi officiis quaerat quam quia rem tenetur ullam.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 offset-md-2">
            <h2>Why we are doing it?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-1">
            <div class="row">
                <div class="mx-auto">
                    <h4>random fact 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                        alias amet esse excepturi officiis quaerat quam quia rem tenetur ullam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container4" class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/san4.png" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/san4.png" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">View All start ups</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/san4.png" alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">view all jobs</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="container3" class="container">

</div>


<!-- bootstrap scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- js scripts -->
<script src="js/index.js"></script>



</body>
</html>