<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Grow Tech SA || Home</title>

        <th:block th:replace="fragments/head :: header" />
        <th:block th:replace="fragments/navbar :: navbarCss" />

        <!-- Css Link -->
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <link rel="stylesheet" type="text/css" href="/css/animation.css"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    </head>
    <body>



    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" th:href="@{/showpage}">

<!--animation text-->
                    <h1 class="ml5">
                                          <span class="text-wrapper">
                                            <span class="line line1"></span>
                                            <span class="letters letters-left">Grow</span>
                                            <span style="margin-right: 25px" class="letters ampersand">Tech-</span>
                                            <span class="letters letters-right">SA</span>
                                            <span class="line line2"></span>
                                          </span>
                    </h1>



                </a>
                <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link" th:href="@{/showpage}">Startups</a>
                        </li>
                        <li>
                            <a class="nav-link" th:href="@{/all/jobs}">Jobs</a>
                        </li>
                        <div sec:authorize="isAuthenticated()">
                            <li>
                                <a class="nav-link" th:href="@{/create/startup}">Create startup</a>
                            </li>
                        </div>
                        <div th:if="${user != null &amp;&amp; count > 0}">
                            <div sec:authorize="isAuthenticated()">
                                <li class="nav-item dropleft">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="badge badge-light" th:text="${count}"></span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a th:each="notification : ${navNotifications}" th:text="${notification.message}" class="dropdown-item"></a>
                                    </div>
                                </li>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li>
                                <a class="nav-link" th:href="@{/userProfile}">Profile</a>
                            </li>
                        </div>

                        <div sec:authorize="isAnonymous()">
                            <li>
                                <a class="nav-link" th:href="@{/sign-up}">Sign Up</a>
                            </li>
                        </div>

                        <div sec:authorize="isAnonymous()">
                            <li>
                                <a class="nav-link" th:href="@{/login}">Login</a>
                            </li>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <li>
                                <form th:action="@{/logout}" th:method="post">
                                    <button class="border-0"><a class="nav-link">Logout</a></button>
                                </form>
                            </li>
                        </div>

                    </ul>

                </div>
            </div>
        </nav>

        <div id="container1" class="container">
            <div class="row">
                <div class="mx-auto"><br/><br/><br/><br/>
                    <h2 id="title">Growing San Antonio Tech</h2>
                </div>
            </div>
        </div>

        <div id="container2" class="container">
            <div class="row">
                <div class="mx-auto"><br/><br/>
                    <img src="/img/enterprise.svg" />
                </div>
            </div><br/><br/>
            <div class="row">
                <div class="mx-auto">
                    <h2>Our Mission</h2>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <div id="element1" class="hidden">
                        <p id="para1" class="para1">
                        San Antonio ranks 46th among the top 50 North American markets when
                        it comes to tech talent, according to a commercial real estate firm’s annual ranking.
                        The mission at GrowTechSA is to allow local startups have their presence be known to the community,
                        and connect them with developers.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="container3" class="container d-none d-md-block"><br/><br/>
            <div id="element2" class="hidden d-none d-md-block">
                <br/><br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/briefcase.svg" />
                                <p>Helping businesses</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/computer.svg" />
                                 <p>Developing tech</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="mx-auto">
                                <img style="margin-left: 2rem;" src="/img/growth.svg" />
                                <p>Growing our economy</p>
                            </div>
                        </div>
                    </div>
                </div><br/><br/><br/>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/hierarchy.svg" />
                                <p>Connecting people</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/laptop.svg" />
                                <p>Expanding the web</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/user.svg" />
                                <p>Helping individuals</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/><br/><br/>
        </div>

        <div class="container"><br/><br/>
            <div id="element3" class="hidden">
                <div class="row">
                    <div class="col-md-6 d-none d-md-block">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/education-chart.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="mx-auto">
                                <img src="/img/network.svg" />
                            </div>
                        </div>
                    </div>
                </div><br/><br/><br/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="mx-auto">
                                <h2>Drive Innovation</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="mx-auto d-none d-md-block">
                                <h2>Sign up, Promote, Apply!</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Supporting the startup community is one of our
                            primary goals. By connecting job seekers to local startup companies we will help
                            boast the success rate of the company and inspire many other to create a start up of their own.
                        </p>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <p>
                            Sign up you'll be able to create your startup company profile and start marketing
                            job placements available ar your company. If you are a job seeker you can upload your resume and start
                            looking for potential employers.
                        </p>
                    </div>
                </div>
                <div id="smalllogo" class="row d-md-none d-lg-none d-xl-none">
                    <div class="mx-auto">
                        <img src="/img/education-chart.svg" />
                    </div>
                </div>
                <div class="row">
                    <div class="mx-auto d-md-none d-lg-none d-xl-none">
                        <h4>Sign up, Promote, Apply</h4>
                    </div>
                </div>
                <div class="row d-md-none d-lg-none d-xl-none">
                    <div class="col-md-6">
                        <p>
                            Sign up you'll be able to create your startup company profile and start promoting
                            available positions at your company. Job seeker? You can upload your resume and start
                            looking for potential employers.
                        </p>
                    </div>
                </div>
            </div>
        </div><br/><br/><br/>


        <div id="footer" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div id="contact">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>Creator's Contact</h4>
                                <hr/><br/>
                                <a href="mailto:markasky.josh@gmail.com?"><h5>Contact Josh</h5></a><br/>
                                <a href="mailto:arash.arghavan@gmail.com?"><h5>Contact Arash</h5></a><br/>
                                <a href="mailto:laroblesaguilar@gmail.com?"><h5>Contact Luis</h5></a><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="contact2">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>Website Contact</h4>
                                <hr/><br/>
                                <a href="mailto:growingtech.sa@gmail.com?"><h5>Compan</h5></a><br/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="contact3">
                        <div class="row">
                            <div class="mx-auto">
                                <h4>About us</h4>
                                <hr/><br/>
                                <a th:href="@{https://alumni.codeup.com/students/624}"><h5>Joshua Markasky</h5></a>
                                <br/>
                                <a th:href="@{https://alumni.codeup.com/students/630}"><h5>Arash Arghavan</h5></a>
                                <br/>
                                <a th:href="@{https://alumni.codeup.com/students/618}"><h5>Luis Robles</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <th:block th:replace="fragments/head :: scripts" />

        <!-- js scripts -->
        <script src="/js/index.js"></script>




    </body>
</html>