<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>

        <title>Title</title>

        <!-- adding meta, bootstrap link, google fonts -->
        <th:block th:replace="fragments/head :: header" />

        <!-- Mail Trap Api -->
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet'/>

        <link rel="stylesheet" type="text/css" href="/css/showone.css"/>

    </head>
    <body>

        <th:block th:replace="fragments/navbar :: navbar"/>


        <!-- container-1 -->
        <div id="showoneCon1" class="container">
            <div id="images" class="row">
                <div id="coverImg" class="col-md-12">
                    <img th:src="${oneStartup.cover_img}" alt="cover img"/>
                </div>
            </div>
        </div>

        <div id="profileImg" class="container">
            <div class="row">
                <div class="col-md-3">
                    <img th:src="${oneStartup.profile_img}" alt="profile img"/>
                </div>
                <div class="col-md-9">
                    <div id='map' style='width: 100%; height: 15rem;'></div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>company name:</h4>
                    <p th:text="${oneStartup.name}"></p>
                    <h4>company address:</h4>
                    <p id="address" th:text="${oneStartup.address}"></p>
                </div>
                <div class="col-md-8">
                    <h4>company description:</h4>
                    <p th:text="${oneStartup.description}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h4>Jobs available</h4>
                    <hr/>
                </div>
            </div>
            <div th:each="item : ${oneStartup.jobs}">
                <div class="row">
                    <div class="col-md-4">
                        <h4>job title</h4>
                        <p th:text="${item.title}"></p>

                        <!--<div th:each="item : ${oneStartup.jobs}">-->

                        <form th:action="@{'/apply/' + ${item.id} }" method="POST">
                            <button class="btn btn-outline-success">Easy Apply</button>
                        </form>
                        <div sec:authorize="isAuthenticated()">
                        <div th:if="${#authentication.principal.id == oneStartup.user.id}">

                            <button class="btn btn-outline-danger"><a th:href="@{'/job/' + ${item.id} + '/delete'}">delete
                                job</a></button>

                            <!--edit one job-->
                            <button class="btn btn-outline-warning"><a th:href="@{'/job/' + ${item.id} + '/edit'}">edit
                                job</a></button>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h4>job description</h4>
                        <p th:text="${item.description}"></p>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <br/><br/><br/>

            <th:block th:replace="fragments/head :: scripts" />

        <script>

            mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zaG02ODE2IiwiYSI6ImNqc2tpa3Z6djA5dG8zem1sYXc4MTk4c3IifQ.leH7wLeVDAnfIgNHDqwSUA';

            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/light-v10',
                zoom: 13
            });

            let address = document.getElementById("address").innerText;

            geocode(address, "pk.eyJ1Ijoiam9zaG02ODE2IiwiYSI6ImNqc2tpa3Z6djA5dG8zem1sYXc4MTk4c3IifQ.leH7wLeVDAnfIgNHDqwSUA").then(function (data) {

                map.setCenter(data);
                var marker = new mapboxgl.Marker({
                    draggable: true
                })
                    .setLngLat(data)
                    .addTo(map);

                map.addControl(new MapboxGeocoder({
                    accessToken: mapBoxKey

                }));

            });


            function geocode(search, token) {
                var baseUrl = 'https://api.mapbox.com';
                var endPoint = '/geocoding/v5/mapbox.places/';
                return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
                    .then(function (res) {
                        return res.json();
                        // to get all the data from the request, comment out the following three lines...
                    }).then(function (data) {
                        return data.features[0].center;
                    });
            }

        </script>

    </body>
</html>