<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <th:block th:replace="fragments/head :: header" />


    <!-- css links -->
    <th:block th:replace="fragments/navbar :: navbarCss" />

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>

    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="/css/showone.css" />

    <link rel="stylesheet" type="text/css" href="/css/form.css" />

</head>
<body>

<th:block th:replace="fragments/navbar :: navbar"/>

<div id="container1" class="container">
    <div class="row">
        <div id="img" class="col-md-2">
            <img th:src="${oneStartup.profile_img}" style="height: 100%; width: 100%;" alt="profile img"/>
        </div>
        <div class="col-md-4 offset-md-2 d-md-none d-lg-none d-xl-none" style="margin-top: -8rem;">
            <div class="d-md-none d-lg-none d-xl-none">
                <h4>Company Name:</h4>
                <h2 th:text="${oneStartup.name}"></h2>
            </div>
        </div>
        <div id="coverImg" class="col-md-10" th:style="'background-image:url(' + ${oneStartup.getCover_img()} + ');'">
            <br/><br/><br/><br/><br/>
            <h2 id="name" th:text="${oneStartup.name}" style="background-color: white; opacity: .7;"></h2>
        </div>
    </div>
</div>

<div id="con1" class="container">
    <div class="row">
        <div class="col-md-6">
            <div id='map' style='width: 100%; height: 15rem;'></div>
            <p id="address" th:text="${oneStartup.address}"></p>
        </div>
        <div class="col-md-6">
            <h4>Description:</h4>
            <p th:text="${oneStartup.description}"></p>
        </div>
    </div>
    <hr/>
</div>

<hr/>

<div id="con1" class="container">
    <div class="row">
        <div class="col-md-4">
            <h4>Jobs Available</h4>
            <hr />
        </div>
    </div>
    <div th:each="item : ${oneStartup.jobs}">
        <div class="row">
            <div class="col-md-4">
                <h4>job title</h4>
                <p th:text="${item.title}"></p>
                <div th:each="item : ${oneStartup.jobs}">
                </div>
            </div>
            <div class="col-md-8">
                <h4>Job Description</h4>
                <p th:text="${item.description}"></p>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">

            <div>
                <span th:text="${notApplied}"></span>
            </div>
        <div th:if="${#authentication.principal.id != oneStartup.user.id}">

            <form th:action="@{'/apply/' + ${item.id} }" method="POST">
                <button class="btn btn-primary ea">Easy Apply</button>
            </form>

            </div>


        </div>
<!--delete job-->
        <div sec:authorize="isAuthenticated()">

            <div th:if="${#authentication.principal.id == oneStartup.user.id}">

               <a class="btn btn-outline-danger" style="text-decoration: none" th:href="@{'/job/' + ${item.id} + '/delete'}">Delete Job</a>
<!--edit one job-->
                <a class="btn btn-outline-warning" style="text-decoration: none" th:href="@{'/job/' + ${item.id} + '/edit'}">Edit Job</a>
            </div>
        </div>
        <hr/>
    </div>
</div>

<th:block th:replace="fragments/head :: scripts" />




                    <script>
                                mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zaG02ODE2IiwiYSI6ImNqc2tpa3Z6djA5dG8zem1sYXc4MTk4c3IifQ.leH7wLeVDAnfIgNHDqwSUA';
                                var map = new mapboxgl.Map({
                                    container: 'map',
                                    style: 'mapbox://styles/mapbox/light-v10',
                                    zoom: 13
                                });
                                let address = document.getElementById("address").innerText;
                                geocode(address, "pk.eyJ1Ijoiam9zaG02ODE2IiwiYSI6ImNqc2tpa3Z6djA5dG8zem1sYXc4MTk4c3IifQ.leH7wLeVDAnfIgNHDqwSUA").then(function (data) {
                                    map.setCenter(data);
                                    var marker = new mapboxgl.Marker({
                                        draggable: true
                                    })
                                        .setLngLat(data)
                                        .addTo(map);
                                    map.addControl(new MapboxGeocoder({
                                        accessToken: mapBoxKey
                                    }));
                                });
                                function geocode(search, token) {
                                    var baseUrl = 'https://api.mapbox.com';
                                    var endPoint = '/geocoding/v5/mapbox.places/';
                                    return fetch(baseUrl + endPoint + encodeURIComponent(search) + '.json' + "?" + 'access_token=' + token)
                                        .then(function(res) {
                                            return res.json();
                                            // to get all the data from the request, comment out the following three lines...
                                        }).then(function(data) {
                                            return data.features[0].center;
                                        });
                                }

                                document.getElementsByClassName("btn btn-primary ea").addEventListener("click", something);

                                function something() {

                                    alert("Application Successful!")

                                }
                    </script>

</body>
</html>
