<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Title</title>

        <!-- adding meta, bootstrap link, google fonts -->
        <th:block th:replace="fragments/head :: header" />
        <th:block th:replace="fragments/navbar :: navbarCss" />

    </head>
    <body>

        <th:block th:replace="fragments/navbar :: navbar"/>

        <div class="container">
            <h2 class="text-center">show all the start ups ...</h2>

             <div class="card mb-3 rounded-lg" style="max-width: 100%;" th:each="item : ${allstartups}">
                    <div class="row no-gutters">

                        <div class="col-md-4">
                            <!--cover image-->
                            <img style="max-height: 15em; width: 100%; height: 100%;" th:src="${item.cover_img}"/>
                            <!--profile image-->
                            <div class="col-2 d-none d-xl-block" style="z-index: 1;">
                                <img style="margin-top: -370%;  margin-right: -1180%" class="rounded-circle float-right" width="100px" height="100px" th:src="${item.profile_img}" />
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div style="padding-left: 5%;">
                            <div class="card-body">

                                <!--link to show one startup page-->
                                <a th:href="@{'/showpage/' + ${item.id}}"><p th:text="${item.name}"></p></a>

                                <!--company description-->
                                <p class="card-text" th:text="${item.description}"></p>

                                <!--company address-->
                                <p class="card-text"><small class="text-muted" th:text="${item.address}"></small></p>
                            </div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>


        <th:block th:replace="fragments/head :: scripts" />


    </body>
</html>