<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/signup.css" />

</head>
<body>

<th:block th:replace="fragments/navbar :: navbar"/>

        <h2>show all the start ups ...</h2>

    <div th:each="item : ${allstartups}">

        <a th:href="@{'/showpage/' + ${item.id}}">
        <h4>company name:</h4>

        <p th:text="${item.name}"></p>
        </a>

        <h4>company description:</h4>
        <p th:text="${item.description}"></p>

        <h4>company address:</h4>
        <p th:text="${item.address}"></p>

        <h4>profile image:</h4>
        <img width="300" height="300" th:src="${item.profile_img}" alt="profile img"/>

        <h4>cover image:</h4>
        <img width="300" height="300" th:src="${item.cover_img}" alt="cover img"/>

        <hr/>
    </div>



</body>
</html>