<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">-->
<!--&gt;-->

<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->


<!--<div sec:authorize="isAuthenticated()">-->
    <!--<h1>Welcome <span th:text="${#authentication.principal.username}"></span></h1>-->


    <!--<div th:each="post : ${listOfApplications}">-->
        <!--<h1 th:text="${post.title}"></h1>-->
        <!--<p th:text="${post.body}"></p>-->
        <!--<a th:href="@{'/posts/' + ${post.id}}">Read more</a>-->
        <!--<a th:href="@{'/posts/' + ${post.id} + '/edit'}">Edit</a>-->
    <!--</div>-->
<!--</div>-->


<!--</body>-->
<!--</html>-->